NODEFLOW.txt
[{"id":"25b7f32b.53957c","type":"ibmiot in","z":"a32d2578.4962f","authentication":"apiKey","apiKey":"d68887fe.019a1","inputType":"evt","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","applicationId":"","deviceType":"mbed-endpoint","eventType":"notify","commandType":"","format":"json","name":"endpoint observations","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"qos":"0","x":153.75,"y":200,"wires":[["d9227d4e.641da8"]]},{"id":"df8717b3.0a0378","type":"ibmiot out","z":"a32d2578.4962f","authentication":"apiKey","apiKey":"d68887fe.019a1","outputType":"cmd","deviceId":"MBED_ENDPOINT_NAME_GOES_HERE","deviceType":"mbed-endpoint","eventCommandType":"PUT","format":"json","data":"0","qos":"0","name":"set LED command (PUT)","service":"registered","x":654.8012084960938,"y":98.35321807861328,"wires":[]},{"id":"63e8ddac.f6e2b4","type":"template","z":"a32d2578.4962f","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MQ==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":420.4962158203125,"y":125.53605651855469,"wires":[["df8717b3.0a0378"]]},{"id":"6289f509.d4a3bc","type":"template","z":"a32d2578.4962f","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"resourceId\":\"311/0/5850\", \"payload\":\"MA==\", \"deviceId\":\"MBED_ENDPOINT_NAME_GOES_HERE\", \"method\":\"PUT\" }","x":418.53179931640625,"y":72.67890930175781,"wires":[["df8717b3.0a0378"]]},{"id":"627151c.f6e0cb","type":"inject","z":"a32d2578.4962f","name":"Turn LED ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":153.65069580078125,"y":126.07170104980469,"wires":[["63e8ddac.f6e2b4"]]},{"id":"50a85d9a.bd22c4","type":"inject","z":"a32d2578.4962f","name":"Turn LED OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152.06353759765625,"y":72.05593872070312,"wires":[["6289f509.d4a3bc"]]},{"id":"d9227d4e.641da8","type":"function","z":"a32d2578.4962f","name":"Base64DecodeToValueJSON","func":"// Base64 Support\nvar Base64 = {\n    _keyStr: \"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",\n    encode: function(e) {\n        var t = \"\";\n        var n, r, i, s, o, u, a;\n        var f = 0;\n        e = Base64._utf8_encode(e);\n        while (f < e.length) {\n            n = e.charCodeAt(f++);\n            r = e.charCodeAt(f++);\n            i = e.charCodeAt(f++);\n            s = n >> 2;\n            o = (n & 3) << 4 | r >> 4;\n            u = (r & 15) << 2 | i >> 6;\n            a = i & 63;\n            if (isNaN(r)) {\n                u = a = 64;\n            } else if (isNaN(i)) {\n                a = 64;\n            }\n            t = t + this._keyStr.charAt(s) + this._keyStr.charAt(o) + this._keyStr.charAt(u) + this._keyStr.charAt(a);\n        }\n        return t;\n    },\n    decode: function(e) {\n        var t = \"\";\n        var n, r, i;\n        var s, o, u, a;\n        var f = 0;\n        e = e.replace(/[^A-Za-z0-9+/=]/g, \"\");\n        while (f < e.length) {\n            s = this._keyStr.indexOf(e.charAt(f++));\n            o = this._keyStr.indexOf(e.charAt(f++));\n            u = this._keyStr.indexOf(e.charAt(f++));\n            a = this._keyStr.indexOf(e.charAt(f++));\n            n = s << 2 | o >> 4;\n            r = (o & 15) << 4 | u >> 2;\n            i = (u & 3) << 6 | a;\n            t = t + String.fromCharCode(n);\n            if (u != 64) {\n                t = t + String.fromCharCode(r);\n            }\n            if (a != 64) {\n                t = t + String.fromCharCode(i);\n            }\n        }\n        t = Base64._utf8_decode(t);\n        return t;\n    },\n    _utf8_encode: function(e) {\n        e = e.replace(/rn/g, \"n\");\n        var t = \"\";\n        for (var n = 0; n < e.length; n++) {\n            var r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r);\n            } else if (r > 127 && r < 2048) {\n                t += String.fromCharCode(r >> 6 | 192);\n                t += String.fromCharCode(r & 63 | 128);\n            } else {\n                t += String.fromCharCode(r >> 12 | 224);\n                t += String.fromCharCode(r >> 6 & 63 | 128);\n                t += String.fromCharCode(r & 63 | 128);\n            }\n        }\n        return t;\n    },\n    _utf8_decode: function(e) {\n        var t = \"\";\n        var n = 0;\n        var r, c2;\n        while (n < e.length) {\n            r = e.charCodeAt(n);\n            if (r < 128) {\n                t += String.fromCharCode(r);\n                n++\n            } else if (r > 191 && r < 224) {\n                c2 = e.charCodeAt(n + 1);\n                t += String.fromCharCode((r & 31) << 6 | c2 & 63);\n                n += 2\n            } else {\n                c2 = e.charCodeAt(n + 1);\n                c3 = e.charCodeAt(n + 2);\n                t += String.fromCharCode((r & 15) << 12 | (c2 & 63) << 6 | c3 & 63);\n                n += 3\n            }\n        }\n        return t\n    }\n};\n\nvar json_str = Base64.decode(msg.payload.payload);\nvar json_obj = JSON.parse(json_str);\nreturn {\"payload\":json_obj};","outputs":1,"noerr":0,"x":477.13909912109375,"y":199.72259902954102,"wires":[["f1bf03df.4269f"]]},{"id":"f1bf03df.4269f","type":"debug","z":"a32d2578.4962f","name":"","active":true,"console":"false","complete":"payload","x":716.2500152587891,"y":200.00000286102295,"wires":[]},{"id":"d68887fe.019a1","type":"ibmiot","z":"a32d2578.4962f","name":"My Watson IoT Instance","keepalive":"60","cleansession":true,"appId":"","shared":false}]
